<?php /*{
    "resource": {
        "data_dir": "data",
        "config": "data\/config.php",
        "datastore": "data\/datastore.php",
        "ban_file": "data\/ipbans.php",
        "updates": "data\/updates.txt",
        "log": "data\/log.txt",
        "update_check": "data\/lastupdatecheck.txt",
        "history": "data\/history.php",
        "raintpl_tpl": "tpl\/",
        "theme": "{{ shaarli_theme }}",
        "raintpl_tmp": "tmp\/",
        "thumbnails_cache": "cache",
        "page_cache": "pagecache"
    },
    "security": {
        "ban_after": 4,
        "ban_duration": 1800,
        "session_protection_disabled": false,
        "open_shaarli": false,
        "allowed_protocols": [
            "ftp",
            "ftps",
            "magnet"
        ],
        "markdown_escape": true
    },
    "dev": {
        "debug": {{ shaarli_debug | lower}}
    },
    "general": {
        "header_link": "{{ shaarli_header_link }}",
        "links_per_page": {{ shaarli_links_per_page }},
        "enabled_plugins": [
            "qrcode"
        ],
        "default_note_title": "Note: ",
        "retrieve_description": false,
        "timezone": "{{ shaarli_timezone }}",
        "title": "{{ shaarli_fqdn }}",
        "download_max_size": 4194304,
        "download_timeout": 30,
        "enable_async_metadata": true,
        "tags_separator": " "
    },
    "updates": {
        "check_updates": true,
        "check_updates_branch": "stable",
        "check_updates_interval": 86400
    },
    "feed": {
        "rss_permalinks": true,
        "show_atom": true
    },
    "privacy": {
        "default_private_links": false,
        "hide_public_links": false,
        "force_login": false,
        "hide_timestamps": {{ shaarli_hide_timestamps | lower }},
        "remember_user_default": true
    },
    "thumbnails": {
        "width": 125,
        "height": 90,
        "mode": "{{ shaarli_thumbnails_mode }}"
    },
    "translation": {
        "language": "auto",
        "mode": "php",
        "extensions": []
    },
    "plugins": [],
    "credentials": {
        "login": "{{ shaarli_username }}",
        "salt": "{{ shaarli_password_salt }}",
        "hash": "{{ (shaarli_password + shaarli_username + shaarli_password_salt) | hash('sha1') }}"
    },
    "api": {
        "enabled": true,
        "secret": "{{ shaarli_api_secret }}"
    },
    "formatter": "{{ shaarli_formatter }}"
}*/ ?>
